# Python virtual environments
env/
.env/
venv/
.venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Database (Keep your local DB private)
*.sqlite3
*.db
*.db-wal
*.db-shm

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Project Backups (Since you are placing the legacy zip here)
# If you want to push the legacy zip to GitHub, comment the line below
# *.zip
